
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Technical Consultant Resume')
        meta(name='author', content='Phang How Yong')
        title Resume - Phang How Yong
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')
        link(href='css/styles.css', rel='stylesheet')
    body#page-top
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Phang How Yong
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile Photo')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards
        .container-fluid.p-0
            section#about.resume-section
                .resume-section-content
                    h1.mb-0 Phang How 
                        span.text-primary Yong (Howie)
                    .subheading.mb-5
                        | 23, Jalan BU 11/4, 47800 Petaling Jaya, Selangor, Malaysia · (+60) 16-5530128 · 
                        a(href='mailto:yongphanghow@gmail.com') yongphanghow@gmail.com
                    p.lead.mb-5
                        | Logical and analytical professional with 5 years of combined experience in software engineering, client delivery, and consulting. Proven track record in implementing solutions across financial, automation, and diverse industry projects. Skilled in technical consulting, stakeholder engagement, and driving end-to-end solutions.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/phang-how-yong-8bb836140/')
                            i.fab.fa-linkedin-in
            hr.m-0
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Seasonal Staff (Working Holiday)
                            .subheading.mb-3 Various Companies, New Zealand
                            p
                                | Worked in agriculture, logistics, and hospitality. Developed adaptability, cross-cultural teamwork, and resilience.
                        .flex-shrink-0
                            span.text-primary Sep 2024 – Jun 2025
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Developer
                            .subheading.mb-3 Excel Force MSC Berhad
                            p
                                | Delivered financial software including foreign trading systems (US & China). Managed change requests, backend dev, debugging, and UAT/PROD support. Mentored juniors and improved development workflows.
                        .flex-shrink-0
                            span.text-primary Jan 2024 – Aug 2024
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 Excel Force MSC Berhad
                            p
                                | Developed backend modules and implemented critical fixes. Liaised with business teams and brokerage firms to align deliverables.
                        .flex-shrink-0
                            span.text-primary Jul 2021 – Dec 2023
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Consultant
                            .subheading.mb-3 Objectif Lune Asia
                            p
                                | Delivered document automation solutions for APAC clients. Assisted pre-sales with SOW, demos, and POC. Managed stakeholders across borders.
                        .flex-shrink-0
                            span.text-primary Oct 2019 – Jul 2021
            hr.m-0
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University Malaysia Sarawak (UNIMAS)
                            .subheading.mb-3 Bachelor of Computer Science (Software Engineering)
                            p GPA: 3.82 | Final Year: 4.00 | Dean’s List 7 Semesters
                        .flex-shrink-0
                            span.text-primary Sep 2015 – Oct 2019
            hr.m-0
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item 
                            i.fab.fa-js
                        li.list-inline-item 
                            i.fab.fa-html5
                        li.list-inline-item 
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.bi-database
                        li.list-inline-item
                            i.fab.fa-php
                    .subheading.mb-3 Tools, Databases and Other Skills
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | OpenAI API, Tableau, Power BI (academic)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | MSSQL, Visual Studio, REST APIs
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development 

            hr.m-0
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p I’m a dedicated gym rat — it’s a lifestyle more than a hobby. I also enjoy training Muay Thai as a beginner, and I find great joy in outdoor trekking and nature exploration.
            hr.m-0
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            a(href='https://skillshop.exceedlms.com/student/award/8CDbUJPD2U69cfUws4mnhGFp', target='_blank') Generative AI for Educators Certificate
                        li
                            span.fa-li
                             i.fas.fa-trophy.text-warning
                            a(href='https://coursera.org/share/f896bcc0893ee532335badebfed643c8', target='_blank') Business Analysis & Process Management
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            a(href='https://coursera.org/share/ac8b674144703edc2e1e2fb23a1a800b', target='_blank') AWS S3 Basics
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            a(href='https://coursera.org/share/b6c3566338146d036462e17bba8caa11', target='_blank') Build a Business Architecture using AWS
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            a(href='https://coursera.org/share/124ee4d705f3399f7efa9790e3225941', target='_blank') Google Analytics (Foundations)
        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')